rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /memos/{memoId} {
      // 누구나 메모를 읽을 수 있습니다.
      allow read: if true;

      // 5글자 이상일 때만 새 메모 저장을 허용합니다.
      allow create: if request.resource.data.text is string
                    && request.resource.data.text.size() >= 5;

      // 삭제를 허용합니다.
      allow delete: if true;

      // 수정할 때도 5글자 이상일 때만 허용합니다.
      allow update: if request.resource.data.text is string
                    && request.resource.data.text.size() >= 5;
    }
  }
}
